
/* media 1920 and 1440 */

@media screen and (max-width:1920px) and (min-width: 1537px ) {

    /* top navbar 1920 */

    .searchInput{
        width: 550px;
        height: 50px;
        font-size: 16px;
    }

    /* bottom navbar 1920 */

    .bn-right .links{
        font-size: large;
    }

    /* get component styles 1920 */

    .get{
        height: 550px;
    }
    .get .get-right{
        background-position-x: 147px;
    }
    .rec-top p,.col-top p,.title p{
        font-size: 15px;
        font-weight: 700;
    }
    .rec-top h1, .col-top h1,.title h1, .title h4{
        font-size: 35px;
    }
    .exploreBtn{
        font-size: 17px;
    }

    /* collection component styles 1920 */

    .col-left{
        padding-left: 50px;
    }

    .col-left .card .sneaker{
        width: 425px;
        height: 475px;
    }
    .col-left .card .sneaker .cardBody{
        height: 90%;
    }
    .col-left .card .sneaker .cardFooter{
        height: 10%;
    }
    .cardFooter span{
        font-size: 17px;
    }
    .col-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-right .right-card{
        width: 650px;
        height: 750px;
    }
    .col-right .right-card .right-top, .right-bottom{
        height: 10%;
    }
    .col-right .right-card .right-center{
        height: 80%;    
        display: flex;
        justify-content: center;
    }
    .trend-card{
        width: 350px;
    }
    .CardBody p{
        font-size: 20px;
    }
    .CardBody span{
        font-size: 15px;
    }
    .footer p{
        font-size: 20px;
    }
    .footer h4{
        font-size: 25px;
    }

}


@media screen and (max-width: 1025px) {
    .navbar .top-navbar, .bottom-navbar{
        padding: 20px 50px;
    }

    .bn-right .links .link_item .link{
        margin-left: 15px;
    }

    .get{
        height: 360px;
    }

    .collection .col-center{
        flex-direction: column;
    }

    .collection .col-center .left, .collection .col-center .right{
        width: 100%;
    }

    .collection .col-center .left{
        justify-content: space-between;
    }
    .collection .col-center .left .card{
        max-width: 400px;
    }
    .collection .col-center .left .card img{
        width: 385px;
    }

    .collection .col-center .right{
        margin-top: 20px;
    }

    .collection .col-center .right .center img{
        max-width: 600px;
        max-height: 589px;
    }
}

@media screen and (max-width: 769px) {
    .navbar .top-navbar, .navbar .bottom-navbar{
        padding: 10px 20px;
    }

    .get{
        height: 272px;
    }

    .get .get-left{
        padding-left: 50px;
    }

    .get .get-left h1{
        font-size: 35px;
    }   

    .get .get-left p{
        font-size: 0.9rem;
    }

    .start{
        padding: 50px;
    }
}