
*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      /* border: 1px solid red;      */
}
li{
      list-style: none;
}

/*       top navbar                */

.navbar .top-navbar{
      padding: 20px 75px;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(227, 225, 225) ;
}
.top-navbar .searchInput{
      width: 475px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #808080;
}
.nav .center form {
      position: relative;
}
.top-navbar .searchInput,select:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
}
.top-navbar .right{
      display: flex;
      align-items: center;     
      justify-content: end;
      gap: 10px;
}     
.top-navbar .right img{
      width: 24px;
      height: 24px;
      cursor: pointer;
}

/*       bottom navbar */

.bottom-navbar{
      padding: 20px 75px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
select{
      width: 175px;
      height: 40px;
      padding: 5px;
      border-radius: 5px;
}
select:focus{
      background-color: #565E64FF;
      color:#fff ;
}
option{
      background-color:#808080;
}
.bn-right .links {
      display: flex;
      align-items: center; 
      justify-content: space-between;

}
.bn-right .links .link_item .link {
      color: #403f3f;
      display: block;
      margin-left: 25px;
      text-decoration: none;
      transition: 0.5s;
}

.bn-right .links img{
      display: none;
}

.bn-right .links .link_item .link:hover {
      color: #ff4f04;
}

/* menu component styles */

.menu{
      width: 100%;
      height: 100vh;
      z-index: 100;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      align-items: start;
      flex-direction: column;
      display: none;   
}

.menu .container{
      width: 70%;
      height: 100%;
      background-color: white;
      float: right;
      padding: 35px;
      
      animation-name: menu;
      animation-duration: 1s;
}

@keyframes menu {
      from{
            transform: translateX(100%);
      }
      to{
            transform: translateX(0%);
      }
}

.menu .container .top img{
      cursor: pointer;
}

.menu .container .bottom .links{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 25px;
}

.menu .container .bottom .links .link-item .link{
      text-decoration: none;
      color: #403f3f;
}

/*             get companent style */

.get{
      width: 100%;
      height: 462.5px;
      background-image: url(../images/homebg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
}
.get-left{
      width: 60%;
      height: 100%;
      padding-left: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
}
.get-right{
      width: 40%;
      height: 100%;
      background-image: url(../images/iphones.png);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
}
.get-right img{
      height: 462px;
}
.get-left h1{
      color: #fff;
      font-size: 50px;
      font-weight: 100;
}
.buy, .trade{
      font-size:medium;
      border: 0;
      border-radius: 5px ;
      margin-top: 10px;
      padding: 10px 20px;
}
.buy:focus, .trade:focus{
      box-shadow: 0 0 0px 3px rgba(0, 0, 255, 0.3);
}
.buy{
      background-color: #ff4f04;
      color: #fff;
}
.trade{
      margin-left: 15px;
      background-color: rgba(106, 66, 185, 0.3);
      color: #fff;
}
.get-left p{
      color: #fff;
}
.get-right{
      width: 40%;
      height: 100%;
}
.get-right img{
      float: right;
}

/*              recomended style */

.rec{
      width: 100%;
      margin-top: 50px; 
      font-size: small;
}
.rec-top{
      width: 100%;
      text-align: center;
}
.rec-top h1{
      margin-top: 7px;
}

/*              rec-center style */
.rec-center{
      width: 100%;
      margin-top: 25px;
}
.rec-center .cards{
      height: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;

}     
.cards{
      text-align: center;
}
.rec-center .cards .productCard img {
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
      margin-bottom: 20px;
}
.rec-center .cards .productCard img:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}
.rec-center .cards .productCard p {
      margin-bottom: 5px;
      font-family: "Open Sans", sans-serif;
      font-size: 17px;
      font-weight: 700;
}

.rec-center .cards .productCard .price {
      color: #ff4f04;
      font-size: 12px;
      font-weight: 700;
      padding: 2px 5px;
      display: inline-block;
      border-radius: 10px;
      background-color: #fcdfdc;
}

/*                      rec-bottom style */

.rec-bottom{
      padding-top: 20px;
      display: block;
      text-align: center;
}
.exploreBtn{
      color: #302f2f;
      font-weight: 700;
      padding: 10px 20px;
      display: inline-block;
      text-decoration: none;
      border-radius: 5px;
      border: 2px solid #707070;
      transition: all 0.6s;
}
.exploreBtn:hover{
      color: #ffffff;
      background-color: #707070;
}

/*                       start style */

.start{
      padding: 100px;
      width: 100%;
      height: 292px;
      margin-top: 30px;
      background-image: url(../images/salebg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;

}
.start .left{
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
} 
.start .left h1{
      color: #ffffff;
      font-size: 35px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;

}
.start .right{
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
}
.start .right .shoppingBtn{
      color: #ffffff;
      padding: 10px 50px;
      display: inline-block;
      text-decoration: none;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.5);
      transition: all 0.6s;
}
.start .right .shoppingBtn:hover{
      color: #000000;
      background-color: #ffffff;
}

/*                      collection style */

.collection{
      width: 100%;
      margin-top: 80px;
}

/*                        collection top style */

.col-top{
      width: 100%;
      text-align: center;
      font-size: 12px;     
}
.col-top h1{
      margin: 0;
      color: #111;
      font-weight: 700;
}

/*                         colletion center style */

.collection .col-center{
      display: flex;
      padding: 20px 75px;
}

.collection .col-center .left, .collection .col-center .right{
      width: 50%;
}

.col-center .left{
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
}

.col-center .left .card{
      background-color: #F5F5F5;
      padding: 15px;
      border-radius: 10px;
      overflow: hidden;
      max-width: 229px;
}

.col-center .left .card .top{
      display: flex;
      justify-content: center;
}

.col-center .left .card .bottom{
      text-transform:capitalize ;
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.col-center .left .card .bottom .text{
      width: 80%;
}

.col-center .left .card .bottom .price{
      width: 20%;
}

.col-center .left .card .bottom .price h3{
    font-size: 17px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
}

.col-center .left .card .bottom .price span{
      color: #ff4f04;
      padding: 3px 8px;
      font-size: 12px;
      font-weight: 900;
      font-family: "Open Sans", sans-serif;
      border-radius: 50px;
      background-color: #fff;
}

.col-center .left .card img{
      width: 214px;
      transition: 0.5s;
}

.col-center .left .card img:hover{
      transform: scale(1.2);
}

.col-center .right .card{
      width: 100%;
      background-color: #F5F5F5;
      padding: 20px;
      border-radius: 15px;
      overflow:  hidden;
}

.col-center .right .card .top{
      padding-inline: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.col-center .right .card .top p{
      background: #000;
      color: white;
      padding: 3px 8px;
      display: flex;
      justify-content: center;
      border-radius: 20px;
      text-transform: uppercase;
      font-weight:700;
}

.col-center .right .card .top span{
      color: #ff4f04;
      padding: 3px 8px;
      font-size: 12px;
      font-weight: 900;
      font-family: "Open Sans", sans-serif;
      border-radius: 50px;
      background-color: #fff;
}

.col-center .right .card .center{
      display: flex;
      justify-content: center;
}

.col-center .right .card .center img{
      transition: .5s;
      max-width: 450px;
      max-height: 439px;
}

.col-center .right .card .center img:hover{
      transform: scale(1.2);
}

.col-center .right .card  .bottom h3{
      font-size: 1.5rem;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
      text-transform: capitalize;
}

.col-center .right .card  .bottom p{
      color: #403f3f;
      font-size: 0.9rem;
}

/*                trending style */

.trending{
      padding: 50px 0;
}
.title{
      padding-bottom: 30px;
      display: block;
      text-align: center;
      text-transform: uppercase;
}
.title p{
      color: #302f2f;
      font-size: 12px;
      font-weight: 700;
      margin-bottom: 5px;
}
.title h4{
      color: #111;
      font-weight: 700;
      font-size: 1.5rem;
}
.trend-footer{
      display: flex;
      flex-wrap:wrap;
      gap: 24px;
      justify-content: center;
}     
.trend-card{
      width: 275px;
      overflow: hidden;
}
.CardHeader{
      background-color: #F6F6F6FF;
      border-radius: 10px;
}
.CardHeader img{        
      width: 100%;
      -webkit-transition: all 0.6s;
      transition: all 0.6s;
}
.CardHeader img:hover{
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
}
.CardBody{
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
}
.CardBody p{
      color: #000000;
      font-size: 17px;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
}
.CardBody span{
      color: #ff4f04;
      padding: 3px 8px;
      font-size: 12px;
      font-weight: 900;
      font-family: "Open Sans", sans-serif;
      border-radius: 50px;
      background-color: #fcdfdc;
}

/*          Footer styling */

.footer{
      width: 100%;
      padding: 50px 50px;
      display: flex;
}
.footer-left{
      width: 40%;
}
.footer-left p{
      width: 300px;
      line-height: 25px;
}
.footer-right{
      width: 60%;
      display: flex;
}
.footer-right .card{
      width: 33.3%;
      text-align: center;
}
.card h4{
      padding-bottom: 15px;
}
.card p{
      padding-bottom: 5px;
      cursor: pointer;
}
.three p{
      text-align: left;
}
.three .num{
      margin-top: 15px;
}
.three h4{
      text-align-last: left;
}